<!DOCTYPE html>
<html>
  <head>
    <title>Fotoklub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1 class="text-center">FotoKlub 📸</h1>

  <div class="row top20 bottom20">
    <div class="col-xs-12 text-center">
      <ul class="nav nav-pills nav-pills-centered">
        <%= content_tag :li, role: 'presentation', class: ('active' if current_page?(root_path)) do %>
          <%= link_to 'Home', root_path %>
        <% end %>

        <%= content_tag :li, role: 'presentation', class: ('active' if current_page?(events_path)) do %>
          <%= link_to 'Events', events_path %>
        <% end %>

        <%= content_tag :li, role: 'presentation', class: ('active' if current_page?(photos_path)) do %>
          <%= link_to 'Photos', photos_path %>
        <% end %>

        <% if current_user %>
          <%= content_tag :li, role: 'presentation' do %>
              <%= link_to 'Sign Out', destroy_user_session_path, data: {method: :delete} %>
                <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
          <% end %>

        <% else %>
            <%= content_tag :li, role: 'presentation' do %>
                <%= link_to 'Sign In', new_user_session_path %>
            <% end %>
        <% end %>



      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <% if flash[:notice] %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
      <% end %>

      <% if flash[:alert] %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
      <% end %>

    </div>
  </div>

    <div class="row">
      <div class="col-xs-12 block text-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
