<!DOCTYPE html>
<html>
  <head>
    <title>Fotoklub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <h1 class="text-center">FotoKlub 📸</h1>

  <div class="row top20 bottom20">
    <div class="col-xs-12 text-center">
      <ul class="nav nav-pills nav-pills-centered">
        <%= content_tag :li, role: 'presentation', class: ('active' if current_page?(root_path)) do %>
          <%= link_to 'Home', root_path %>
        <% end %>
      </ul>
    </div>
  </div>

    <%= yield %>
  </body>
</html>
